.account-container {
    text-align: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.success-header {
    color: #4CAF50;
    margin-bottom: 5px;
}

.id-card {
    border: 3px solid #000000;
    padding: 20px;
    margin: 30px auto;
    max-width: 500px;
    background: #ffffff;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.id-card h3 {
    color: #000000;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 1.5em;
}

.id-number {
    font-family: 'Courier New', monospace;
    letter-spacing: 4px;
    color: #fff;
    font-size: 2.2em;
    background: #000;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #444;
}

.id-warning {
    color: #000000;
    font-size: 0.9em;
    font-style: italic;
}

.return-button {
    padding: 12px 25px;
    cursor: pointer;
    background-color: #444;
    color: white;
    border: 1px solid #666;
    font-size: 1.1em;
    transition: all 0.2s;
}

.return-button:hover {
    background-color: #666;
    transform: translateY(-2px);
}


.error-message {
    color: #ff6b6b;
    background: rgba(255, 0, 0, 0.1);
    padding: 12px;
    border: 1px solid rgba(255, 0, 0, 0.2);
    margin-bottom: 20px;
}

.form-group {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.form-group label {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.form-group input {
    padding: 10px 15px;
    font-size: 1.1em;
    border: 2px solid #ccc;
    width: 250px;
    text-align: center;
    transition: border-color 0.2s;
    background-color: #feffed;
    color:#000;
}

.form-group input:focus {
    border-color: #4CAF50;
    outline: none;
}

.portrait-section {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portrait-section p {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1.1em;
    color: #555;
}

.generate-button {
    padding: 15px 40px;
    font-size: 1.3em;
    cursor: pointer;
    background-color: #5b995d;
    color: white;
    border: outset #444;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.2s;
}

.generate-button:hover {
    background-color: #58df5e;
}

.auth-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 25px;
}

.big-button {
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.big-button.login {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid #000000;
}

.big-button.register {
    background-color: #ffffff;
    border: 2px solid #000000;
    color: rgb(0, 0, 0);
}

.back-link {
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
    color: #666;
}

