.root-mini {
  color: #000;
  height: 100px;
}

.column-mini {
  float: left;
  width: 10%;
  padding: 5px;
}

.row-mini {
  align-items:center;
  justify-content: center;
  display: flex;
}

.versus-mini {
  font-weight: bolder;
  justify-content: center;
}

.fighter-name-mini {
  font-size: .9em;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fighter-img {
  border: outset;
}

.net-error {
  color: #a80000;
}

.net-loading {
  color: #aaaa00;
}

.throbber-mini {
  display: inline;
  max-height: 20%;
  transform:scale(20%)
}

@keyframes winner-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 215, 0, 0.7);
    border-color: gold;
  }
  70% {
    box-shadow: 0 0 20px 10px rgba(255, 215, 0, 0);
    border-color: gold;
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 215, 0, 0);
    border-color: gold;
  }
}

.thumbnail-img {
  max-width: 100%;
  max-height: 100%;
}

.winner-img {
  animation: winner-pulse 2s infinite;
  border: 5px solid gold !important;
}

.loser-img {
  filter: brightness(0.6);
  border: 5px solid rgb(39, 39, 28);
}