.root {
  color: #000;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.fighter-name {
  font-size: 1.1em;
}

.fighter-1 {
  color: red;
}

.fighter-2 {
  color: blue;
}

.stats {
  text-align: left;
}

.fighter-img {
  border: outset;
}
