.root {
  color: #000;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.fighter-name {
  font-size: 1.1em;
}

.fighter-1 {
  color: red;
}

.fighter-2 {
  color: blue;
}

.stats {
  text-align: left;
}

.fighter-img {
  border: outset;
}

.summary {
  margin-top: 10px;
  font-size: 1.2em;
}

.logs {
  margin-top: 10px;
}

.one-log {
  margin-bottom: 20px;
}

.log-name {
  font-weight: bold;
}

.net-error {
  color: #a80000;
}

.net-loading {
  color: #aaaa00;
}

@keyframes winner-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 215, 0, 0.7);
    border-color: gold;
  }
  70% {
    box-shadow: 0 0 20px 10px rgba(255, 215, 0, 0);
    border-color: gold;
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 215, 0, 0);
    border-color: gold;
  }
}


.winner-img {
  animation: winner-pulse 2s infinite;
  border: 5px solid gold !important;
}

.loser-img {
  filter: brightness(0.6);
  border: 5px solid rgb(39, 39, 28);
}