.drawable-canvas-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-width: 5px;
  border-color: #5e5e5e;
  margin-bottom: 10px;
}

.toolbar {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.color-palette {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.color-palette-label {
  font-size: 14px;
  font-weight: 500;
  color: #555;
}

.color-button {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: transform 0.1s;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.color-button.active {
  border: 3px solid #333;
}

.custom-color {
  height: 32px;
  width: 28px;
}

.stroke-width-control {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #555;
}

.stroke-width-label {
  font-size: 14px;
  font-weight: 500;
}

.stroke-width-slider {
  width: 100px;
}

.tools {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tool-button {
  padding: 8px 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #777;
}

.tool-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.tool-button.eraser.active {
  background-color: #ff6b6b;
  color: #fff
}

.tool-button.brush.active {
  background-color: #7fb98e;
  color: #fff
}

.tool-button.bucket.active {
  background-color: #9dad0e;
  color: #fff
}

.tool-button.picker.active {
  background-color: #484b23;
  color: #fff
}

.tool-button.clear {
  background-color: #ff6b6b;
  color: white;
  border: none;
}

.tool-button.submit {
  background-color: #4CAF50;
  color: white;
  border: none;
  margin-left: 36%;
  margin-top: 10px;
  margin-bottom: -10px;
  font-weight: bold;
}

.canvas-wrapper {
  border: 2px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawing-canvas {
  display: flex;
  touch-action: none;
  cursor: crosshair;
  border: 20px #1a1a1a;
}