.roster-container {
  color: black;
}

.entry {
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.stats {
  display: flex;
  flex-direction: column;
  order: 2;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 10px;
}

.roster-image-wrapper {
  position: relative;
  display: inline-block;
  margin: 15px;
  max-width: 30%; 
  align-self: center;
}

.roster-titles {
  font-style: italic;
  color: #cc2e2e;
}

.roster-fighter-img {
  border: outset 3px;
  width: 100%;
  height: auto;
  display: block;
  background-color: white;
}

.roster-champ-badge {
  position: absolute;
  width: 130px;
  transform: rotate(-27deg); 
  pointer-events: auto;
}


.fighter-status {
  font-weight: bolder;
  color: #a70000;
}

.place-number {
  font-size: 2.5em;
  order: 1;
}

.description {
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 10px;
}

.page-button-container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-button {
  padding: 8px 16px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #777;
}

.alignment-good-roster {
  color: #2ecc71;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.5em;
}

.alignment-evil-roster {
  color: #9b59b6;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.5em;
}

.alignment-neutral-roster {
  color: #333333;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.5em;
}