#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.status {
  color: #888;
}

.status-link {
  color: #888;
  text-decoration: underline dotted;
}

h1 {
  color: #000;
  margin-bottom: 15px;
}

h2 {
  color: #000;
  font-size: 1.5em;
}

hr {
  margin-bottom: 15px;
  border-color: #000;
}

.tutorial p {
  color: black;
  text-align: center;
}

.tabs {
  display: flex;
}

.tab-button {
  padding: 8px 8px;
  margin-left: -1px;
  background-color: #fff;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #727272;
}

.tab-button.active {
  color: #000000;
  text-decoration: underline;
  background-color: #ffffff;
}
