#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.status {
  color: #888;
}

.status-link {
  color: #888;
  text-decoration: underline dotted;
}

h1 {
  color: #000;
}

h2 {
  color: #000;
  font-size: 1.5em;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: #000;
}

.tutorial p {
  color: black;
  text-align: center;
}

.leaderboard-button {
  float: right;
}
